{% extends "base.html" %}
{% load humanize %}
{% block content %}

  <form action="/postcode_lookup/" method="POST" accept-charset="utf-8" id="search_form">
    <div class="description">
      <h4>Find your constituency by entering a full UK post code</h4>
    </div>
    <label for="q">UK Post Code</label><input type="text" name="q" value="" id="q">
    <input type="submit" value="Go" class="submit">
  </form>

<div class="section">  
<div class="halfcol">
  <h2>By Total Amount</h2>
  <table>
    <thead>
      <th>Constituency</th>
      <th>Amount</th>
    </thead>  
    {% for c in top_constituencies_by_amount %}
      <tr>
        <td><a href="{% url constituency c.slug %}">{{ c.name }}</a></td>
        <td class="eur">&euro;{{ c.total|floatformat:2|intcomma }}</td>
      </tr>
    {% endfor %}
  </table>
    <a href="{% url constituency_list %}?sort=total">View all</a>
</div>

<div class="halfcol">
  <h2>By Total Recipients</h2>
  <table>
    <thead>
      <th>Constituency</th>
      <th>Recipients</th>
    </thead>  
    {% for c in top_constituencies_by_recipients %}
      <tr>
        <td><a href="{% url constituency c.slug %}">{{ c.name }}</a></td>
        <td>{{ c.recipients }}</td>
      </tr>
    {% endfor %}
  </table>
  <a href="{% url constituency_list %}?sort=recipients">View all</a>
</div>



<div class="section clear"><div class="halfcol">
  <h2>Top Recipients</h2>
  <table>
    <thead>
      <th>Recipient Name</th>
      <th>Amount</th>
    </thead>
    {% for c in top_recipients %}
      <tr>
        <td>{{ c.name }}</td>
        <td class="eur">&euro;{{ c.amount|floatformat:2|intcomma }}</td>
      </tr>
    {% endfor %}
  </table>
    <a href="{% url recipients %}?sort=amount">View all</a>  
</div>

<div class="halfcol">
  <h2>By Average Per Recipient</h2>
  <table>
    <thead>
      <th>Constituency</th>
      <th>Average</th>
    </thead>
    {% for c in top_constituencies_by_avg %}
      <tr>
        <td><a href="{% url constituency c.slug %}">{{ c.name }}</a></td>
        <td class="eur">&euro;{{ c.average|floatformat:2|intcomma }}</td>
      </tr>
    {% endfor %}
  </table>
      <a href="{% url constituency_list %}?sort=average">View all</a>
</div>
</div>

</div>

{% endblock %}